/* Write your CSS here */
* {
  font-family: 'roboto';
}
.container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-weight: bold;
  color: #2d3a35;
  text-align: center;
}
span {
  color: #c20a72;
  font-weight: bold;
}
.para {
  color: #2d3a35;
  font-weight: normal;
  text-align: center;
}
button {
  color: #ffffff;
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  border-color: transparent;
}
